span.amishi {
  margin-left: 5px;
  white-space: nowrap;

  img.avatar {
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    margin-right: 4px;
    border-radius: 4px;
    vertical-align: -5px;
  }

  span.name {
    color: #666;
    font-weight: bold;
  }
}