@import "variables.scss";

#app-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 35px;
  z-index: 10;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  background-color: rgba(255,255,255,0.9);

  .material-icons {
    line-height: 35px;
    font-size: 30px;
    padding-top: 1px;
  }

  div.app-info {
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 8px;
    
    a {
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }

    img {
      width: 30px;
      height: 30px;
    }
  }

  div.location {
    margin: 0 auto;
    text-align: center;
    height: 35px;
    line-height: 35px;
    white-space: nowrap;

    .in-home {
      opacity: 0.5;
    }

    a.to-home {
      color: #1eaedb;
      cursor: pointer;
      i {
        opacity: 1;
      }
    }

    i.arrow {
      opacity: 0.26;
    }

    span.toggle-navigation {
      position: relative;
      display: inline-block;
      margin-left: 5px;

      i.unread {
        position: absolute;
        top: -2px;
        left: 20px;
        font-size: 16px;
        color: #f33;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
      }

      @media (#{$wide-viewport}) {
        display: none;
      }
    }

    span.cotonoma-name {
      display: inline-block;
      max-width: 40vw;
      height: 100%;
      vertical-align: top;
      overflow-x: hidden;
      font-size: 18px;
      white-space: nowrap;
      font-weight: bold;
      opacity: 0.5;
    }

    span.shared i {
      color: #ccc;
      margin-left: 6px;
      font-size: 26px;
      vertical-align: 2px;
    }
  }

  a.add-cotonoma {
    position: absolute;
    top: 0;
    left: 10px;
    line-height: 35px;
  }

  div.user {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 10px;
    line-height: 35px;

    img.avatar {
      margin: 0;
      margin-top: 4px;
      padding: 0;
      width: 27px;
      height: 27px;
      border-radius: 4px;
    }
  }

  form.quick-search {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0;
    vertical-align: top;

    @media (#{$narrow-viewport}) {
      display: none;
    }

    input.search-input {
      margin: 0;
      padding: 3px 5px;
      padding-left: 28px;
      padding-right: 20px;
      width: 260px;
      height: 27px;
    }

    i.search {
      position: absolute;
      top: 0;
      left: 2px;
      font-size: 26px;
      opacity: 0.5;
    }

    a.clear-query {
      position: absolute;
      top: 0;
      right: 3px;

      i {
        font-size: 18px;
      }
    }
  }
}

.cotonomas-loading a.toggle-navigation {
  display: none;
}
