@import "variables.scss";

#connect-modal {
  .modal-content {
    width: 80vw;
    max-height: 90%;
  }

  div.tools {
    text-align: right;
  }

  div.target-coto div.simplified-coto,
  div.target-new-post div.simplified-coto {
    border-width: 2px;
    max-height: 15vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  div.target-new-post div.simplified-coto {
    border-style: dashed;
  }

  div.selected-cotos {
    max-height: 25vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    div.simplified-coto,
    div.simplified-cotonoma {
      border: 2px solid #ffa500 !important;
      margin-top: 10px;

      &:first-child {
        margin-top: 0;
      }
    }

    div.simplified-cotonoma {
      padding: 2px;
    }
  }

  hr.modal-buttons-seperator {
    display: none;
  }

  div.modal-buttons {
    padding-top: 15px;
  }
}
