@import "variables.scss";

#connect-modal {
  .modal-content {
    width: 80vw;

    div.tools {
      text-align: right;
    }

    span.node-title {
      font-weight: bold;
      color: #aaa;
    }

    div.coto-content {
      border: 1px solid #ddd;
    }

    div.coto-inner {
      padding-top: 10px;
    }

    div.coto-summary {
      font-weight: bold;
      opacity: .5;
    }

    div.target-coto,
    div.target-new-post {
      border-width: 2px;
      max-height: 15vh;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }

    div.target-new-post {
      border-style: dashed;
    }

    div.selected-cotos {
      max-height: 25vh;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;

      div.coto-content {
        box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
        margin-top: 20px;

        &:first-child {
          margin-top: 0;
        }
      }

      div.coto-inner {
        border: 2px solid #ffa500 !important;
      }
    }

    div.connection {
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      padding: 0 30px;
    
      div.arrow {
        width: 30px;
        padding-top: 6px;

        i {
          font-size: 24px;
        }
      }

      div.linking-phrase {
        flex: 1;

        input {
          margin-bottom: 0;
        }
      }
    }

    hr.modal-buttons-seperator {
      display: none;
    }

    div.modal-buttons {
      padding-top: 15px;
    }
  }
}
