@import 'variables';

#editor-modal {
  .modal-content {
    width: 80vw;
  }

  h4 {
    margin-bottom: 1rem;

    button {
      font-size: 1.5rem;
      font-weight: normal;
      text-transform: none;
      letter-spacing: 0;
      margin-bottom: 0;
    }

    button.coto {
      border-radius: 4px 0 0 4px;
      border-right-style: none;
    }

    button.cotonoma {
      border-radius: 0 4px 4px 0;
    }
  }

  input {
    margin-bottom: 1rem;
  }

  a.switch-to {
    color: #ccc;
    text-decoration: underline;
    text-decoration-color: #eee;
  }

  div.coto-editor-modal-body {
    height: 50vh;
    display: flex;
    flex-direction: column;
  }

  div.posting-to {
    margin-bottom: 1rem;
    font-weight: bold;
    color: #999;

    i {
      font-size: 20px;
      vertical-align: -5px;
      margin-right: 3px;
    }

    span.cotonoma-label img.avatar {
      width: 20px;
      height: 20px;
      margin-right: 3px;
    }
  }

  div.source-coto {
    div.coto-body {
      max-height: 100px;
      overflow-y: auto;
      border: 1px solid #ddd;
      padding: 10px;
    }

    div.arrow {
      text-align: center;
      padding-top: 5px;
    }
  }

  div.coto-editor {
    flex: 1;
    display: flex;
    flex-direction: column;

    div.content-input {
      flex: 1;
      display: flex;
      padding-bottom: 6px;

      textarea {
        width: 100%;
        height: 100%;
        margin: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
      }
    }

    div.advice-on-cotonoma-name {
      margin-bottom: 6px;

      .too-long {
        color: #f00;
        font-weight: bold;
      }
      .ok {
        color: #008000;
        font-weight: bold;
      }
    }
  }

  div.content-preview {
    height: 100%;
    padding-left: 6px;
    padding-right: 6px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  div.cotonoma-help {
    padding-bottom: 10px;
  }

  span.shortcut-help {
    margin-left: 4px;
    text-transform: none;
    opacity: 0.7;
  }

  button.connect {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fff;

    i {
      font-size: 18px;
      vertical-align: middle;
    }
  }

  div.shared-checkbox {
    margin-top: 6px;
    margin-bottom: 6px;

    span.label {
      font-weight: bold;
    }
  }
}
