#import-modal {
  .modal-content {
    width: 80vw;
    max-width: 40em;
  }

  p {
    margin-bottom: 1rem;
  }

  div.import-file-info {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;


    div.content {
      padding: 10px;
      padding-bottom: 0;
    }

    div.author {
      margin-bottom: 8px;
  
      img.avatar {
        margin: 0;
        padding: 0;
        width: 24px;
        height: 24px;
        margin-right: 6px;
        border-radius: 4px;
        vertical-align: middle;
      }
  
      span.name {
        color: #aaa;
        font-weight: bold;
      }
    }
  }

  div.import-result {
    color: #999;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    margin-bottom: 16px;

    div.result-caption {
      display: inline-block;
      color: #333;
      width: 90px;
      text-align: right;
    }

    span.number {
      color: #666;
      margin-left: 12px;
      margin-right: 3px;
      font-size: 120%;
      font-weight: bold;
    }

    div.rejected {
      border: 1px solid #eee;
      margin-top: 10px;
      padding: 10px;
      max-height: 15vh;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;

      span.reject {
        display: inline-block;
        white-space: nowrap;
      }

      span.reject-caption {
        font-weight: bold;
      }

      span.reject-reason {
        margin-right: 5px;
      }
    }
  }
}
