#invite-modal {
  p {
    margin-bottom: 1rem;
  }

  input.email {
    margin-bottom: 1rem;
  }

  span.accepted-email {
    margin-left: 3px;
    color: #aaa;
  }

  span.invitee {
    margin-left: 5px;
    white-space: nowrap;

    img.avatar {
      margin: 0;
      padding: 0;
      width: 20px;
      height: 20px;
      margin-right: 4px;
      border-radius: 4px;
      vertical-align: middle;
    }

    span.name {
      color: #666;
      font-weight: bold;
    }
  }

  div.invites-remaining {
    text-align: right;
    color: #888;
  }
}
