@import "variables.scss";

#pinned-cotos {
  flex: 1;
  position: relative;

  div.column-header {
    text-align: center;
    margin-bottom: 5px;
    padding-top: 7px;
    text-align: right;

    div.view-switch {
      display: inline-block;
      padding-right: 12px;

      a.document-view {
        margin-right: 10px;
      }

      a.graph-view i {
        font-size: 20px;
        vertical-align: 2px;
      }
    }
  }
}

#pinned-cotos-body {
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;

  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 50px;

  @media (#{$wide-viewport}) {
    display: flex;
    justify-content: center; 
    padding: 10px;
    padding-top: 0;
    padding-bottom: 50px;

    div.root-connections {
      min-width: 460px;
      max-width: 640px;
    }
  }

  #coto-graph-view {
    background-color: #fff;
    width: 100%;
    height: 100%;
  }

  div.pinned-coto {
    margin-top: 10px;
    margin-bottom: 20px;
    animation-duration: 1s;

    & > div.coto-inner > div.coto-header {
      i.pinned,
      i.connected {
        display: none;
      }
    }

    div.unpin-button {
      position: relative;
      height: 10px;

      a.unpin,
      span.not-unpinnable {
        position: absolute;
        top: -12px;
        left: 0;

        i {
          font-size: 24px;
        }
      }

      span.not-unpinnable {
        color: #ccc;
      }
    }
  }
}
