#repost-modal {
  .modal-content {
    width: 80vw;
  }

  div.target-coto div.simplified-coto {
    max-height: 15vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  div.repost-form {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;

    div.cotonoma-name-input {
      flex: 1;

      input {
        border-radius: 4px 0 0 4px;
        border-right-style: none;
        margin-bottom: 0;
      }
    }

    div.repost-button {
      width: 42px;

      button {
        padding-left: 8px;
        padding-right: 8px;
        border-radius: 0 4px 4px 0;
      }

      i {
        vertical-align: -8px;
      }
    }
  }

  div.reposted-cotonomas {
    max-height: 15vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding-left: 1rem;
    padding-bottom: 1rem;

    div.reposted-in {
      display: flex;
      flex-direction: row;

      div.repost-icon {
        width: 30px;

        i {
          color: #ccc;
          vertical-align: middle;
        }
      }

      div.simplified-cotonoma {
        flex: 1;
        margin-bottom: 0.5rem;
  
        img.avatar {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  hr.modal-buttons-seperator {
    display: none;
  }
}