#signin-modal {
  img.logo {
    margin-right: 6px;
    width: 26px;
    vertical-align: -1px;
  }

  p {
    margin-bottom: 1rem;
  }

  input.email {
    margin-bottom: 1rem;
  }

  p.notice {
    border: 1px dotted #ff8c00;
    border-radius: 4px;
    padding: 10px;
    color: #ff8c00;
    font-weight: bold;
  }
}
