#signin-modal {
  h4 {
    padding-right: 25px;
  }

  img.logo {
    margin-right: 6px;
    width: 26px;
    vertical-align: -1px;
  }

  p {
    margin-bottom: 1rem;
  }

  input.email {
    margin-bottom: 1rem;
  }

  hr.modal-buttons-seperator {
    display: none;
  }

  div.oauth-signin {
    padding-top: 10px;

    div.oauth-button-container {
      text-align: center;

      i.fa {
        margin-right: 6px;
        font-size: 1.8rem;
        vertical-align: -2px;
      }
    }

    hr {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }
}
