@import "variables.scss";

#timeline-filter-modal {
  .modal-buttons-seperator {
    display: none;
  }

  div.filter-option {
    margin-top: 6px;
    margin-bottom: 8px;

    label {
      font-weight: normal;
      font-size: 1.5rem;
    }

    input {
      margin: 0;
      margin-right: 8px;
    }

    span.my-home {
      font-weight: bold;
      opacity: 0.5;

      i {
        font-size: 20px;
        vertical-align: -5px;
      }
    }
  }
}