@import "variables.scss";

div.traversal {
  flex: 1;
  position: relative;

  div.column-header {
    position: relative;
    margin-bottom: 5px;
    padding-top: 8px;
    text-align: center;

    span.description {
      color: #aaa;

      i.fa {
        font-size: 20px;
      }
    }

    a.close-traversal {
      position: absolute;
      right: 4px;

      @media (#{$wide-viewport}) {
        left: 6px;
        right: auto;
      }
    }
  }

  div.column-body {
    position: absolute;
    top: 32px;
    bottom: 0;
    left: 0;
    right: 0;

    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 10px;
    padding-top: 40px;
    padding-bottom: 60px;
  }

  div.arrow {
    margin-top: 10px;
    margin-bottom: 6px;
    text-align: center;
    opacity: 0.4;
  }

  div.loading-subgraph {
    padding-top: 10px;
    text-align: center;
  }

  div.parents-of-start {
    div.parents {
      font-size: 100%;
    }

    div.parent {
      padding: 6px 12px;

      @media (#{$narrow-viewport}) {
        border: 1px solid #eee;
        background-color: #fefefe;
      }
    }
  }

  div.outbound-conn {
    div.sub-cotos-button {
      a.traverse {
        margin-right: 40px;
      }
    }
    
    &.traversed {
      border: 2px dotted #ffdd33 !important;

      div.sub-cotos-button {
        display: none;
      }
    }
  }

  div.step {
    div.step-content {
      border: 1px solid #ddd;
      box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
      background-color: #fff;
      padding: 12px;
    }
  }
}

#traversals-pagination {
  display: none;
  z-index: 3;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 48px;
  padding: 0 5px;
  background-color: #fff;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1);
  overflow-x: auto;

  div.button-container {
    flex: 1;
    padding: 5px;
    text-align: center;

    button {
      width: 100%;
    }
  }
}
.traversals-in-narrow-viewport #traversals-pagination {
  display: flex;

  @media (#{$wide-viewport}) {
    display: none;
  }
}
