#app-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 35px;
  z-index: 10;
  border-bottom: 1px solid #eee;
  background-color: rgba(255,255,255,0.9);
  
  div.location {
    margin: 0 auto;
    text-align: center;
    height: 35px;
    line-height: 35px;
    white-space: nowrap;
    
    a.to-home,
    a.toggle-navigation {
      color: #1eaedb;
      cursor: pointer;
      
      i {
        opacity: 1;
      }
    }
    
    a.toggle-navigation {
      margin-left: 5px;
      
      @media (min-width: 750px) {
        display: none;
      }
    }
    
    span.cotonoma-name {
      display: inline-block;
      max-width: 50vw;
      height: 100%;
      vertical-align: top;
      overflow-x: hidden;
      font-size: 18px;
      white-space: nowrap;
      font-weight: bold;
      opacity: 0.5;
    }
  }
  
  a.add-cotonoma {
    position: absolute;
    top: 0;
    left: 10px;
    line-height: 35px;
  }
  
  div.user {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 10px;
    line-height: 35px;
    
    img.avatar {
      margin: 0;
      margin-top: 4px;
      padding: 0;
      width: 27px;
      height: 27px;
      border-radius: 4px;
    }
  }
  
  .material-icons {
    line-height: 35px;
    font-size: 30px;
    opacity: 0.26;
    padding-top: 1px;
  }
  
  a {
    color: black;
  }
}

.cotonomas-loading a.toggle-navigation {
  display: none;
}
