/* This file is for your main application css. */

html, body, #elm-container, #app {
  height: 100%;
}

#app {
  padding: 10px;
}

#timeline-column {
  height: 100%;
  position: relative;
}

#timeline {
  overflow-x: hidden;
  overflow-y: auto;;
  position: absolute;
  top: 0;
  bottom: 58px;
  left: 0;
  right: 0;
  
  div.post {
    border: 2px solid transparent;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 10px;
    
    &:hover {
      border: 2px solid #eee;
    }
  }
}
.editing #timeline {
  bottom: 140px !important;
}

#new-post {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 48px;
  
  div.toolbar {
    position: relative;
    height: 40px;
    
    span.user {
      margin-left: 5px;
      line-height: 40px;
      vertical-align: middle;
    }
    
    div.tool-buttons {
      display: inline-block;
      position: absolute;
      right: 0;
      
      span.shortcut-help {
        margin-left: 4px;
        text-transform: none;
        opacity: 0.7;
      }
    }
  }
  
  textarea.post {
    margin: 0;
    width: 100%;
    height: 38px;
  }
}
.editing #new-post {
  height: 130px !important;
}
.editing #new-post textarea.post {
  height: 80px !important;
}
