/* This file is for your main application css. */

html, body, #elm-container, #app, #app-body {
  height: 100%;
}

.hidden {
  display: none;
}

.being-hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

#app {
  position: relative;
  
  a.info-button {
    z-index: 10;
    position: absolute;
    bottom: 6px;
    right: 10px;
    
    
    i.material-icons {
      font-size: 32px;
      color: black;
      opacity: 0.26;
    }
  }
}

#app-body {
  display: flex;
  flex-direction: column-reverse;
  z-index: 1;
  padding-top: 45px;
}

#stock {
  max-height: 20vh;
  border-bottom: solid 1px #eee;
  margin-bottom: 8px;
  padding-bottom: 8px;
}

#flow {
  flex: 1;
}

.cotonomas-loading {
  #flow {
    opacity: 0.99;
  }
}

@media (min-width: 750px) {
  #app-body {
    flex-direction: row;
  }
  
  #flow {
    // http://stackoverflow.com/questions/15381172/css-flexbox-child-height-100
    height: 100%;
  }

  #stock {
    flex: none;
    width: 200px;
    border-bottom-style: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
