/* This file is for your main application css. */

html, body, #elm-container, #app {
  height: 100%;
}

#app {
  padding: 10px;
}

$new-post-height: 110px !default;

#timeline-column {
  height: 100%;
  position: relative;
}

#timeline {
  overflow-x: hidden;
  overflow-y: auto;;
  position: absolute;
  top: 0;
  bottom: $new-post-height;
  left: 0;
  right: 0;
}

#timeline div.post {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 8px;
}
#timeline div.post:hover {
  border: 1px solid #eee;
}

#new-post {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: $new-post-height;
}

#new-post div.toolbar {
  text-align: right;
}

#new-post div.toolbar button {
  margin-bottom: 3px;
}

textarea.post {
  width: 100%;
  height: 40px;
  margin: 0;
}
