@import "variables.scss";

$column-width-in-wide-viewport: 500px !default;

#connections {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  height: 100%;
  
  div.coto {
    background-color: #fff;
    padding: 10px;
    padding-top: 2px;
  }
  
  .connections-column {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 10px;
    padding-bottom: 50px;
    
    @media (#{$wide-viewport}) {
      padding: 5px;
    }
  }
  
  #column-roots {
    display: flex;
    flex-direction: column;
    min-width: 90vw;
    width: 90vw;
    
    @media (#{$wide-viewport}) {
      min-width: $column-width-in-wide-viewport;
      width: $column-width-in-wide-viewport;
      font-size: 90%;
    }
    
    div.column-header {
      text-align: center;
      font-size: 18px;
      color: gray;
      text-transform: uppercase;
      margin-bottom: 5px;
      
      i {
        margin-right: 5px;
      }
    }
    
    div.coto {
      margin-bottom: 10px;
      border: 2px solid #eee;
    }
  }
  
  div.column-traversal {
    min-width: 90vw;
    width: 90vw;
    padding-top: 15px;
    background-color: #f4f4f4;
    
    div.coto {
      border: 2px solid rgba(0,0,0,0);
    }
    
    div.main-sub-border {
      padding-top: 3px;
      border-bottom: 1px solid #eee;
    }
    
    div.sub-cotos {
      @media (#{$wide-viewport}) {
        font-size: 90%;
      }
      div.coto {
        margin-top: 5px;
      }
    }
    
    @media (#{$wide-viewport}) {
      min-width: $column-width-in-wide-viewport;
      width: $column-width-in-wide-viewport;
    }
  }
}
