@import "variables.scss";

$column-width-in-wide-viewport: 400px !default;

#connections {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  height: 100%;
  
  div.coto {
    background-color: #fff;
    padding: 10px;
    padding-top: 2px;
    
    i.connected {
      display: none;
    }
  }
  
  .connections-column {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 10px;
    padding-bottom: 50px;
    
    @media (#{$wide-viewport}) {
      padding: 5px;
      padding-bottom: 50px;
    }
  }
  
  #column-roots {
    display: flex;
    flex-direction: column;
    min-width: 90vw;
    width: 90vw;
    
    @media (#{$wide-viewport}) {
      min-width: $column-width-in-wide-viewport;
      width: $column-width-in-wide-viewport;
      font-size: 90%;
    }
    
    div.column-header {
      text-align: center;
      font-size: 18px;
      color: gray;
      text-transform: uppercase;
      margin-bottom: 5px;
      
      i {
        margin-right: 5px;
      }
    }
    
    div.coto {
      margin-bottom: 15px;
      border: 1px solid #ddd;
    }
  }
  
  div.column-traversal {
    min-width: 90vw;
    width: 90vw;
    padding-top: 15px;
    background-color: #eee;
    
    div.coto {
      border: 2px solid rgba(0,0,0,0);
    }
    
    div.main-sub-border {
      padding-top: 3px;
      border-bottom: 1px solid #eee;
    }
    
    div.sub-cotos {
      @media (#{$wide-viewport}) {
        font-size: 90%;
      }
      
      div.outbound-conn {
        margin-top: 8px;
        border-left: 3px solid #ddd;
        border-radius: 4px 4px 4px 4px;
        
        div.coto {
          padding-bottom: 0;
          
          div.coto-header {
            min-height: auto;
          }
        }
        
        &.traversed {
          border: 1px dashed #ffdd33 !important;
          
          div.coto {
            background-color: #ffffdd;
          }
        }
      }
    }
    
    div.step {
      div.arrow {
        margin-top: 10px;
        margin-bottom: 6px;
        text-align: center;
        opacity: 0.4;
      }
    }
    
    @media (#{$wide-viewport}) {
      min-width: $column-width-in-wide-viewport;
      width: $column-width-in-wide-viewport;
    }
  }
}
