#connect-modal {
  div.coto {
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  div.start-coto {
    max-height: 15vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  div.end-cotos {
    max-height: 40vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    
    div.coto {
      margin-bottom: 10px;
    }
  }
  
  div.connect-buttons {
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: center;
    
    button {
      padding-top: 6px;
      
      &.connect-downward {
        margin-right: 20px;
      }
      &.connect-upward {
        margin-left: 20px;
      }
    }
  }
}
