@import "variables.scss";

#connect-modal {
  .modal-content {
    width: 80vw;

    div.coto-content {
      padding: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      border: 1px solid #ddd;
    }

    div.connecting-coto {
      max-height: 15vh;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }

    div.selected-cotos {
      max-height: 40vh;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }

    div.arrow {
      height: 24px;
      padding-top: 8px;
      padding-bottom: 8px;
      text-align: center;

      i {
        font-size: 24px;
      }
    }

    hr.modal-buttons-seperator {
      display: none;
    }

    div.modal-buttons {
      padding-top: 5px;
    }
  }
}
