@import "variables.scss";

#connect-mode {
  z-index: 12;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: auto;
  width: 90vw;
  padding: 10px;
  background: rgba(85,85,85,0.6);
  color: #eee;
  font-size: 16px;
  text-align: center;
  
  @media (#{$wide-viewport}) {
    width: 500px;
  }
  
  button {
    background-color: #fff;
    margin: 0;
    margin-left: 5px;
    
    span.target-count {
      margin-left: 5px;
      font-size: 120%;
      font-weight: bold;
      font-family: arial, sans-serif;
    }
  }
}
