@import "variables.scss";

#coto-selection {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  
  div.column-header {
    min-height: 30px;
    text-align: center;
    margin-bottom: 5px;
    padding-top: 5px;
    
    div.selection-info {
      padding-top: 3px;
      padding-bottom: 6px;
      opacity: 0.5;
      
      span.selection-count {
        font-weight: bold;
        font-family: arial, sans-serif;
      }
    }
    
    div.selection-tools {
      button {
        margin-right: 8px;
        padding: 0 15px;
        background-color: #fff;
        vertical-align: top;
        
        i {
          margin-right: 5px;
        }
      }
      
      span.group-title {
        white-space: nowrap;
        
        input {
          border-radius: 4px 0 0 4px;
        }
        
        button {
          margin-right: 0;
          border-radius: 0 4px 4px 0;
        }
      }
    }
    
    a.close-selection {
      position: absolute;
      top: 10px;
      right: 6px;
    }
  }
  
  div.column-body {
    flex: 1;
    
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 10px;
    padding-bottom: 50px;
    
    div.coto {
      margin-bottom: 10px;
      border: 1px dashed #ddd;
    }
  }
}
