@import "variables.scss";

#coto-selection {
  flex: 1;
  position: relative;
  
  div.column-header {
    text-align: center;
    margin-bottom: 5px;
    padding-top: 5px;
    
    div.selection-info {
      padding: 3px;
      opacity: 0.5;
      
      span.selection-count {
        font-weight: bold;
        font-family: arial, sans-serif;
        opacity: 1;
      }
    }
    
    div.selection-tools {
      button {
        margin-right: 8px;
        padding: 0 15px;
        background-color: #fff;
        vertical-align: top;
        
        i {
          margin-right: 5px;
        }
      }
      
      span.group-title {
        white-space: nowrap;
        
        input {
          border-radius: 4px 0 0 4px;
        }
        
        button {
          margin-right: 0;
          border-radius: 0 4px 4px 0;
        }
      }
    }
  }
  
  div.column-body {
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 10px;
    padding-bottom: 50px;
    
    div.coto {
      margin-bottom: 10px;
    }
  }
}
