@import 'variables';

#coto-modal {
  .modal-content {
    width: 80vw;
  }

  .modal-buttons-seperator {
    display: none;
  }

  div.coto-view {
    max-height: 55vh;
    display: flex;
    flex-direction: column;

    div.coto-summary {
      margin-bottom: 10px;
      font-weight: bold;
      opacity: .5;
    }

    div.content {
      flex: 1;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      margin-bottom: 8px;
    }
  }

  div.coto-info {
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;

    span.preposition {
      margin-left: 3px;
      margin-right: 6px;
      color: #ccc;
    }

    span.author {
      white-space: nowrap;

      img.avatar {
        margin: 0;
        padding: 0;
        width: 20px;
        height: 20px;
        margin-right: 6px;
        border-radius: 4px;
        vertical-align: middle;
      }

      span.name {
        color: #aaa;
        font-weight: bold;
      }
    }

    span.posted-at {
      white-space: nowrap;

      span.datetime {
        color: #aaa;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 90%;
      }
    }

    span.posted-in {
      white-space: nowrap;

      span.cotonoma-name {
        color: #aaa;
        font-size: 90%;
      }
    }
  }

  div.cotonoma {
    padding-bottom: 10px;

    i {
      vertical-align: middle;
    }

    span.cotonoma-name {
      margin-left: 3px;
      font-weight: bold;
      color: #888;
      vertical-align: middle;
    }
  }
}
