#cotonoma-modal {
  div.modal-content {
    width: 60%;

    @media (min-width: 550px) {
      width: 455px;
    }

    @media (max-height: 550px) {
      label {
        display: none;
      }
    }
  }
}
