@import "variables.scss";

#coto-selection {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;

  div.column-header {
    z-index: 3;   // workaround for iOS bug where the header disappears when the input has focus
    min-height: 40px;
    text-align: center;
    margin-bottom: 5px;
    padding-top: 20px;

    a.close-selection {
      position: absolute;
      top: 10px;
      right: 6px;
    }

    div.grouping-coto {
      span.selection-title {
        white-space: nowrap;

        input {
          margin: 0;
          border-radius: 4px 0 0 4px;
          color: #222;

          @media (#{$narrow-viewport}) {
            // http://stackoverflow.com/questions/2989263/disable-auto-zoom-in-input-text-tag-safari-on-iphone
            font-size: 16px;
          }
        }

        button {
          margin: 0;
          padding: 0 15px;
          border-radius: 0 4px 4px 0;
          vertical-align: top;
        }
      }
    }
  }

  div.column-body {
    flex: 1;

    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 10px;
    padding-bottom: 50px;

    div.coto {
      margin-bottom: 10px;
      border: 1px dashed #ddd;

      div.coto-inner {
        position: relative;

        a.deselect-coto {
          position: absolute;
          top: 3px;
          left: 3px;
        }

        div.coto-header {
          min-height: 35px;
        }
      }
    }
  }
}
