div.coto {
  border: 1px solid #ddd;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
  padding: 0;
  background-color: #fff;

  div.main-sub-border {
    padding-top: 3px;
    border-bottom: 1px solid #eee;
  }

  div.sub-cotos-button {
    padding-top: 5px;
    text-align: center;

    i {
      vertical-align: bottom;
    }
  }
}

div.coto-inner {
  padding: 12px;
  padding-top: 0;
  margin: 0;
  border: transparent 2px solid;
}

div.coto-header {
  min-height: 12px;
  text-align: right;

  a.posted-in {
    font-size: 12px;
    color: #000;
    opacity: .3;
  }

  i.pinned,
  i.connected {
    margin-left: 10px;
    opacity: .5;
  }
}

div.coto-body {
  position: relative;

  span.coto-tool-buttons {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: none;
    height: 34px;
    padding: 0;
    padding-top: 2px;
    background-color: rgba(255, 255, 255, .6);

    a.tool-button {
      margin-left: 10px;

      i.material-icons {
        font-size: 30px;
      }

      i.fa {
        width: 30px;
        text-align: center;

        &.fa-thumb-tack,
        &.fa-unlink {
          font-size: 26px;
          vertical-align: 5px;
        }
      }
    }

    span.connecting-buttons {
      a.tool-button {
        color: #ffa500;
      }

      i {
        font-size: 27px;
        vertical-align: 5px;
      }
    }
  }
}

div.sub-cotos {
  div.outbound-conn {
    margin-top: 8px;
    border-left: 3px solid #ddd;
    border-radius: 4px;

    div.coto {
      padding-bottom: 0;
      border-style: none;
      box-shadow: none;
    }

    div.coto-inner {
      padding: 6px 12px;
    }

    div.coto-header {
      min-height: auto;
    }

    div.coto-body {
      span.coto-tool-buttons {
        right: -10px;
      }
    }
  }
}

div.coto.selectable {
  &.element-focus > div.coto-inner > div.coto-body > span.coto-tool-buttons {
    display: inline-block !important;
  }

  &.coto-focus > div.coto-inner {
    border: 2px solid #ffdd33 !important;
  }

  &.selected > div.coto-inner {
    border: 2px solid #ffa500 !important;
  }
}

div.coto-as-cotonoma {
  a {
    text-decoration: none;

    i {
      vertical-align: middle;
    }

    span.cotonoma-name {
      margin-left: 3px;
      vertical-align: middle;
      font-weight: bold;
    }
  }
}
