@import 'variables';

#coto-modal {
  .modal-content {
    width: 80vw;
  }

  input {
    margin-bottom: 1rem;
  }

  span.coto-modal-title {
    button {
      margin: 0;
      margin-left: 10px;
      margin-bottom: 3px;
      vertical-align: middle;
      padding: 0 10px;
      height: 26px;
      line-height: 26px;
      font-size: 10px;
      letter-spacing: normal;

      i {
        margin-right: 3px;
      }
    }
  }

  div.coto-view {
    max-height: 55vh;
    display: flex;
    flex-direction: column;

    div.coto-summary {
      margin-bottom: 10px;
      font-weight: bold;
      opacity: .5;
    }

    div.content {
      flex: 1;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      margin-bottom: 8px;
    }
  }

  div.advice-on-cotonoma-name {
    margin-bottom: 6px;

    .too-long {
      color: #f00;
      font-weight: bold;
    }
    .ok {
      color: #008000;
      font-weight: bold;
    }
  }

  div.coto-info {
    text-align: right;

    span.preposition {
      margin-left: 3px;
      margin-right: 6px;
      color: #ccc;
    }

    span.author {
      white-space: nowrap;

      img.avatar {
        margin: 0;
        padding: 0;
        width: 20px;
        height: 20px;
        margin-right: 6px;
        border-radius: 4px;
        vertical-align: middle;
      }

      span.name {
        color: #aaa;
        font-weight: bold;
      }
    }

    span.posted-at {
      white-space: nowrap;

      span.datetime {
        color: #aaa;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 90%;
      }
    }

    span.posted-in {
      white-space: nowrap;

      span.cotonoma-name {
        color: #aaa;
        font-size: 90%;
      }
    }
  }

  div.coto-editor {
    height: 50vh;
    display: flex;
    flex-direction: column;

    div.content-input {
      flex: 1;
      padding-bottom: 6px;

      textarea {
        width: 100%;
        height: 100%;
        margin: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);

        @media (#{$narrow-viewport}) {
          // http://stackoverflow.com/questions/2989263/disable-auto-zoom-in-input-text-tag-safari-on-iphone
          font-size: 16px;
        }
      }
    }
  }

  div.cotonoma {
    padding-bottom: 10px;

    i {
      vertical-align: middle;
    }

    span.cotonoma-name {
      margin-left: 3px;
      font-weight: bold;
      vertical-align: middle;
    }
  }

  div.cotonoma-stats {
    color: #999;
    border: 1px solid #eee;
    padding: 4px;
    margin-top: 15px;

    span.number {
      color: #666;
      margin-left: 12px;
      margin-right: 3px;
      font-size: 120%;
      font-weight: bold;
    }
  }
}
