#cotonoma-modal {
  div.modal-content {
    width: 80vw;

    @media (min-width: 550px) {
      width: 455px;
    }

    @media (max-height: 550px) {
      label {
        display: none;
      }
    }
  }

  p {
    margin-bottom: 1rem;
  }

  div.target-cotonoma {
    margin-bottom: 1rem;

    span.cotonoma-label {
      margin-left: 1rem;
    }

    span.cotonoma-name {
      margin-left: 2px;
      font-weight: normal;
    }
  }
}
