@import 'variables';

#coto-modal {
  .modal-content {
    width: 80vw;
  }

  input {
    margin-bottom: 1rem;
  }

  span.coto-modal-title {
    button {
      margin: 0;
      margin-left: 10px;
      margin-bottom: 3px;
      vertical-align: middle;
      padding: 0 10px;
      height: 26px;
      line-height: 26px;
      font-size: 10px;
      letter-spacing: normal;

      i {
        margin-right: 3px;
      }
    }
  }

  div.content {
    max-height: 55vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 8px;
  }

  div.coto-editor {
    textarea.coto {
      width: 100%;
      height: 50vh;
      margin: 0;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);

      @media (#{$narrow-viewport}) {
        // http://stackoverflow.com/questions/2989263/disable-auto-zoom-in-input-text-tag-safari-on-iphone
        font-size: 16px;
      }
    }
  }

  div.cotonoma {
    padding-bottom: 10px;

    i {
      vertical-align: middle;
    }

    span.cotonoma-name {
      margin-left: 3px;
      font-weight: bold;
      vertical-align: middle;
    }
  }
}
