div.content {
  p, pre, ul, ol {
    margin-bottom: 0;
  }
  p:not(:last-child),
  pre:not(:last-child),
  ul:not(:last-child),
  ol:not(:last-child) {
    margin-bottom: 1rem;
  }

  pre, code {
    overflow-x: auto;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 300;
    
    &:first-child {
      margin-top: 0;
    }
  }
  
  h1 { font-size: 3.0rem; line-height: 1.2;  letter-spacing: -.1rem;  }
  h2 { font-size: 2.6rem; line-height: 1.25; letter-spacing: -.1rem;  }
  h3 { font-size: 2.0rem; line-height: 1.3;  letter-spacing: -.1rem;  }
  h4 { font-size: 1.6rem; line-height: 1.35; letter-spacing: -.08rem; }
  h5 { font-size: 1.4rem; line-height: 1.5;  letter-spacing: -.05rem; }
  h6 { font-size: 1.2rem; line-height: 1.6;  letter-spacing: 0;       }

  blockquote {
    margin-left: 0.5em;
    margin-right: 0.5em;
    color: #888;

    &:before {
      color: #ccc;
      font-family: serif;
      content: open-quote;
      font-size: 45px;
      line-height: 0.1em;
      margin-right: 5px;
      vertical-align: -20px;
    }

    &:after {
      color: #ccc;
      font-family: serif;
      content: close-quote;
      font-size: 45px;
      line-height: 0.1em;
      vertical-align: -27px;
    }

    p {
      padding-left: 1em;
    }
  }
}
