@import 'variables';

#navigation-content {
  div.navigation-title {
    margin-bottom: 4px;
    color: #ccc;
    font-weight: bold;
  }

  div.owner {
    margin-bottom: 20px;

    div.amishi {
      margin-bottom: 5px;

      img.avatar {
        margin: 0;
        padding: 0;
        width: 20px;
        height: 20px;
        margin-right: 4px;
        border-radius: 4px;
        vertical-align: middle;
      }

      span.name {
        color: #666;
        font-weight: bold;
      }
    }
  }

  div.sub-cotonomas,
  div.pinned-cotonomas,
  div.recent-cotonomas {
    margin-bottom: 20px;
  }

  div.recent-cotonomas div.not-active {
    opacity: .3;
  }

  div.coto-as-cotonoma {
    display: flex;
    padding-left: 1px;
    margin-bottom: 1px;
    border: 2px solid #fff;

    &.in {
      background-color: #f8f8f8;
      border: 2px solid #f8f8f8;
    }

    &.selected {
      border: 2px solid #ffa500;
    }

    i {
      vertical-align: middle;
    }

    div.cotonoma-link {
      flex: 1;

      img.avatar {
        width: 20px;
        height: 20px;
      }
    }

    div.traverse {
      width: 20px;

      a.traverse-cotonoma i {
        font-size: 20px;
        opacity: .3;
      }
    }

    &.element-focus div.traverse a.traverse-cotonoma i {
      opacity: 1;
    }
  }
}
