@import "variables.scss";

$column-width-in-wide-viewport: 400px !default;

#pinned-cotos {
  // https://stackoverflow.com/questions/33636796/chrome-safari-not-filling-100-height-of-flex-parent
  flex: 1;
  
  position: relative;
  
  div.coto {
    font-size: 90%;
    
    i.connected {
      display: none;
    }
  }
  
  div.column-header {
    text-align: center;
    font-size: 18px;
    color: gray;
    text-transform: uppercase;
    margin-bottom: 5px;
    padding-top: 5px;
    
    i {
      margin-right: 5px;
    }
  }
  
  div.column-body {
    position: absolute;
    top: 32px;
    bottom: 0;
    left: 0;
    right: 0;
    
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 10px;
    padding-bottom: 50px;
    
    @media (#{$wide-viewport}) {
      padding: 5px;
      padding-bottom: 50px;
    }
    
    div.coto {
      margin-bottom: 10px;
      
      div.coto-header {
        i.pinned {
          display: none;
        }
      }
    }
  }
}
