@import "variables.scss";

#pinned-cotos {
  flex: 1;
  position: relative;
  
  div.column-header {
    text-align: center;
    font-size: 18px;
    color: gray;
    text-transform: uppercase;
    margin-bottom: 5px;
    padding-top: 5px;
  }
  
  div.column-body {
    position: absolute;
    top: 32px;
    bottom: 0;
    left: 0;
    right: 0;
    
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 10px;
    padding-bottom: 50px;
    
    @media (#{$wide-viewport}) {
      padding: 5px;
      padding-bottom: 50px;
    }
    
    div.coto {
      margin-bottom: 10px;
      animation-duration: 2s;
      
      div.coto-header {
        i.pinned,
        i.connected {
          display: none;
        }
      }
    }
  }
}
