#profile-modal {
  .modal-content {
    max-height: 90%;
  }

  div.profile {
    width: 100%;

    @media (min-width: 550px) {
      width: 455px;
    }
  }

  div.profile-sidebar {
    padding-top: 5px;

    img.avatar {
      margin: 0;
      padding: 0;
      width: 100%;
      border-radius: 4px;
    }

    @media (max-width: 550px) {
      text-align: center;

      img.avatar {
        width: 50% !important;
      }
    }

    div.owner-label {
      color: #888;
      text-align: center;

      .owner-icon {
        margin-right: 2px;
      }
    }
  }

  div.tools {
    text-align: center;

    a.tool-button {
      display: inline-block;
      margin-left: 12px;
      margin-right: 12px;
      text-decoration: none;
    }

    i {
      font-size: 30px;
      vertical-align: bottom;
    }

    span.label {
      font-size: 12px;
      vertical-align: top;
    }
  }
}
