#signin-modal {
  p {
    margin-bottom: 1rem;
  }
  
  form {
    margin: 0;
    
    div.save-anonymous-cotos-option {
      margin-bottom: 10px;
      
      label {
        display: flex;
        flex-direction: row;
        
        input {
          margin: 0;
          margin-top: 6px;
          margin-right: 3px;
        }
      }
    }
  }
}
