@import "variables.scss";

#input-and-timeline {
  position: relative;
  flex: 1;
}

#timeline {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 0;
  bottom: 58px;
  left: 0;
  right: 0;
  
  @media (#{$wide-viewport}) {
    padding-left: 5px;
    padding-right: 5px;
  }
  
  &.loading {
    background: url(../images/loading.gif) center no-repeat #fff;
  }
  
  div.coto {
    position: relative;
    margin-bottom: 6px;
    
    &:first-child {
      margin-top: 12px;
    }
    
    &.posting {
      opacity: 0.3;
      background: url(../images/loading.gif) center no-repeat #fff;
    }
    
    div.author {
      margin-bottom: 8px;
      
      img.avatar {
        margin: 0;
        padding: 0;
        width: 24px;
        height: 24px;
        margin-right: 8px;
        border-radius: 4px;
        vertical-align: middle;
      }
      
      span.name {
        color: #aaa;
        font-weight: bold;
      }
    }
    
    div.coto-body {
      position: relative;
      
      a.open-coto {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        
        i {
          font-size: 30px;
        }
      }
    }
  }
}
.editing #timeline {
  bottom: 200px !important;
}

#new-coto {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 48px;
  padding: 0 5px;
  
  div.toolbar {
    position: relative;
    height: 40px;
    
    span.user {
      margin-left: 5px;
      line-height: 40px;
      vertical-align: middle;
      font-weight: bold;
      color: gray;
      
      .material-icons {
        margin-right: 3px;
        vertical-align: -6px;
      }
      
      &.anonymous {
        color: black;
        opacity: 0.26;
      }
      
      &.session {
        img.avatar {
          margin: 0;
          padding: 0;
          width: 32px;
          height: 32px;
          margin-right: 8px;
          border-radius: 4px;
          vertical-align: middle;
        }
      }
    }
    
    div.tool-buttons {
      display: inline-block;
      position: absolute;
      right: 0;
      
      span.shortcut-help {
        margin-left: 4px;
        text-transform: none;
        opacity: 0.7;
      }
    }
  }
  
  textarea.coto {
    margin: 0;
    width: 100%;
    height: 38px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    
    @media (#{$narrow-viewport}) {
      // http://stackoverflow.com/questions/2989263/disable-auto-zoom-in-input-text-tag-safari-on-iphone
      font-size: 16px;
    }
  }
}
.editing #new-coto {
  height: 190px !important;
}
.editing #new-coto textarea.coto {
  height: 140px !important;
}
