@import "variables.scss";

#timeline-and-input {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;

  div.timeline {
    flex: 1;
  }

  div.quick-coto-editor {
    height: 48px;
  }
  &.editing div.quick-coto-editor {
    height: 190px !important;
  }
  &.editing div.quick-coto-editor textarea.coto {
    height: 140px !important;
  }
}

div.loading-overlay {
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../images/loading.gif) center no-repeat #f8f8f8;
}

div.timeline {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 10px;
  padding-bottom: 10px;
 
  @media (#{$wide-viewport}) {
    padding-left: 5px;
    padding-right: 5px;
  }

  div.posts-on-day {
    margin-top: 20px;

    div.date-header {
      z-index: 10;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      left: 0;
      padding: 10px;
      padding-left: 0;

      span.date {
        color: #999;
        background-color: #f8f8f8;
        padding: 10px;
      }
    }
  }

  div.coto {
    position: relative;
    margin-bottom: 6px;

    &.posting {
      opacity: 0.3;
      background: url(../images/loading.gif) center no-repeat #fff;
    }
  }

  div.coto-inner {
    padding-bottom: 3px;
  }

  div.author {
    margin-bottom: 8px;

    img.avatar {
      margin: 0;
      padding: 0;
      width: 24px;
      height: 24px;
      margin-right: 6px;
      border-radius: 4px;
      vertical-align: middle;
    }

    span.name {
      color: #aaa;
      font-weight: bold;
    }
  }

  div.post-footer {
    min-height: 10px;
    text-align: right;

    span.posted-at {
      font-size: 12px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #ccc;
    }
  }
}

div.quick-coto-editor {
  padding: 0 5px;

  div.toolbar {
    position: relative;
    height: 40px;

    span.user {
      margin-left: 5px;
      line-height: 40px;
      vertical-align: middle;
      font-weight: bold;
      color: gray;

      .material-icons {
        margin-right: 3px;
        vertical-align: -6px;
      }

      &.session {
        img.avatar {
          margin: 0;
          padding: 0;
          width: 32px;
          height: 32px;
          margin-right: 8px;
          border-radius: 4px;
          vertical-align: middle;
        }
      }
    }

    div.tool-buttons {
      display: inline-block;
      position: absolute;
      right: 0;
    }

    span.shortcut-help {
      margin-left: 4px;
      text-transform: none;
      opacity: 0.7;
    }

    span.connect-buttons {
      button {
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 5px;
        background-color: #fff;

        @media (#{$narrow-viewport}) {
          margin-right: 10px;
        }

        i {
          font-size: 18px;
          vertical-align: middle;
        }
      }
    }
  }

  textarea.coto {
    margin: 0;
    width: 100%;
    height: 38px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

    @media (#{$narrow-viewport}) {
      // http://stackoverflow.com/questions/2989263/disable-auto-zoom-in-input-text-tag-safari-on-iphone
      font-size: 16px;
    }
  }
}
