@import "variables.scss";

div.traversal {
  flex: 1;
  position: relative;
  
  div.column-header {
    margin-bottom: 5px;
    padding-top: 8px;
    padding-right: 4px;
    text-align: right;
  }
  
  div.column-body {
    position: absolute;
    top: 32px;
    bottom: 0;
    left: 0;
    right: 0;
    
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 5px;
    padding-bottom: 60px;
    
    div.coto {
      div.coto-header {
        i.pinned,
        i.connected {
          display: none;
        }
      }
    }
    
    div.main-sub-border {
      padding-top: 3px;
      border-bottom: 1px solid #eee;
    }
    
    div.sub-cotos {
      div.outbound-conn {
        margin-top: 8px;
        border-left: 3px solid #ddd;
        border-radius: 4px 4px 4px 4px;
        
        div.coto {
          padding-bottom: 0;
          border-style: none;
          box-shadow: none;
          
          div.coto-header {
            min-height: auto;
          }
        }
        
        &.traversed {
          border: 1px dashed #ffdd33 !important;
          
          div.coto {
            background-color: #ffffdd;
          }
        }
      }
    }
    
    div.step {
      div.arrow {
        margin-top: 10px;
        margin-bottom: 6px;
        text-align: center;
        opacity: 0.4;
      }
    }
  }
}

#traversals-pagination {
  display: none;
  z-index: 3;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 48px;
  padding: 0 5px;
  background-color: #fff;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1);
  
  div.button-container {
    flex: 1;
    padding: 5px;
    text-align: center;
    
    button {
      width: 100%;
    }
  }
}
.traversals-view-in-mobile #traversals-pagination {
  display: flex;
  
  @media (#{$wide-viewport}) {
    display: none;
  }
}
