@import "variables.scss";

div.traversal {
  flex: 1;
  position: relative;

  div.column-header {
    position: relative;
    margin-bottom: 5px;
    padding-top: 8px;
    text-align: center;

    span.description {
      color: gray;

      span.text {
        margin-left: 5px;
        vertical-align: top;
        line-height: 24px;
        font-size: 90%;
        opacity: 0.8;
      }
    }

    a.close-traversal {
      position: absolute;
      right: 4px;
    }
  }

  div.column-body {
    position: absolute;
    top: 32px;
    bottom: 0;
    left: 0;
    right: 0;

    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 5px;
    padding-top: 14px;
    padding-bottom: 60px;

    div.sub-cotos {
      div.outbound-conn {
        &.traversed {
          border: 1px dashed #ffdd33 !important;
          div.coto {
            background-color: #ffffdd;
            div.sub-cotos-button {
              display: none;
            }
          }
        }
      }
    }

    div.step {
      div.arrow {
        margin-top: 10px;
        margin-bottom: 6px;
        text-align: center;
        opacity: 0.4;
      }
    }

    div.traversal-start > div.coto > div.coto-inner > div.coto-body {
      a.traverse-coto {
        display: none !important;
      }
    }
  }
}

#traversals-pagination {
  display: none;
  z-index: 3;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 48px;
  padding: 0 5px;
  background-color: #fff;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1);

  div.button-container {
    flex: 1;
    padding: 5px;
    text-align: center;

    button {
      width: 100%;
    }
  }
}
.traversals-view-on-mobile #traversals-pagination {
  display: flex;

  @media (#{$wide-viewport}) {
    display: none;
  }
}
